<!DOCTYPE html>
<html>
  <head>
    <title>twagnotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-faded sticky-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="brand">
        <span class="twag toggle-tag-filter">twag</span>
        <span class="notes-btn">notes</span>
        <span class="note-count"></span>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <div class="form-inline my-2 my-lg-0 search-form">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" value="">
              <button class="btn btn-outline-secondary my-2 my-sm-0">Search</button>
            </div>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
